<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/bootstrap.css"/>
    <link rel="stylesheet" href="./static/css/main.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vanilla Modules</h1>
    <p>KTANE modules</p>
    <h2>Bomb Info</h2>
    <!-- 
    In here we'll need to get bomb data.
    Somehow need to take an input from html and convert into a python dictionary
    JSON?
    -->
    <h2>Simple Wires</h2>
    <!--
    In here we'll need to get inputs and then call the function with the inputs.
    After that we need to return an int/string with the outcome and pass it back into javascript
    -->

</body>
</html>